
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
<table>
    <tr>
        <td>选择分类：</td>
        <td>
            @Html.Action("Index", "ClassList")
        </td>
    </tr>
    <tr>
        <td>分类名称：</td>
        <td>
            <input type="text" name="ClassName" />
        </td>
    </tr>
    <tr>
        <td colspan="2"><button type="submit">提交</button></td>
    </tr>
</table>
}